extends layout

block content
   
  div.container
        h1(class="title is-1") Fiambrería del Rosario
        p 
            a.button.is-primary(href='/confirmacion') Hacia Index
        p
            a.button(href='/load' ) Hacia Load

